.header {
    position: relative;
    width: 100%;
    min-width: 320px;
    background-image: url(../img/first_section/img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header_container {
    height: 90vh;
    max-width: 1200px;
    margin: auto;
}

.header__navbar {
    background-color: #27262A;
    padding: 32px 30px;

    @include media(tablet) {
        padding-top: 24px;
        padding-bottom: 18px;
    }

    @include media(desktop) {
        background-color: transparent;
        padding-top: 30px;
    }

}

.navbar {
    @include block-display(flex, row, space-between, center)
}

.navbar-info {
    height: 41px;
    @include block-display(flex, row, space-around, center)
}

.navbar-info__logo {
    width: 43px;
    height: 41px;
    background-image: url(../img/first_section/Logo3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
        background-image: url(../img/first_section/Logo-hover.png);
    }

}


.navbar-info__text {
    @include text-style("Lato", 700, 24px, #8D81AC, 0.67);
    padding-right: 17px;
    padding-left: 17px;
    display: none;
    text-transform: uppercase;

    &:hover {
        color: #FFFFFF
    }

    @include media(tablet) {
        display: block;
    }

}

.navbar-button {
    background: #8D81AC;
    border: 1px solid #8D81AC;
    border-radius: 40px;

    &:hover {
        background: #FFFFFF;
    }
}

.navbar-button_text {
    @include text-style("Montserrat", 700, 15px, #FFFFFF, 1);
    padding: 11px 10px;

    &:hover {
        color: #8D81AC;
    }

    @include media(tablet) {
        padding: 11px 20px;
    }

}

.navbar-menu_logo {
    @include media(tablet) {
        display: none;
    }
}

.header__menu {
    position: absolute;
    top: 105px;
    left: 5vw;
    z-index: 30;
    width: 90vw;
    min-width: 290px;
    display: none;

    @include media(tablet) {
        height: 41px;
        position: static;
        z-index: unset;
        display: flex !important;
        width: max-content;
        align-items: center;
        margin: 0px auto 0px auto;
    }


    @include media(desktop) {
        margin-top: -41px;
        margin-right: 15%;
    }
}


.menu {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333333;
    list-style-type: none;
    padding: 0px;
    margin: 0px auto;


    &__item {
        height: 8vh;
        position: static;
        border-bottom: 1px #848E97 solid;

    }

    &__link {
        padding: 6px 0px 6px 30px;
        @include text-style("Montserrat", 400, 26px, #FFFFFF, 1);

        &:focus,
        &:active {
            border-left: 8px #8D81AC solid;
        }
    }

    @include media(tablet) {
        height: max-content;
        background-color: transparent;
        width: 436px;
        margin-bottom: 0px;
        flex-direction: row;
        justify-content: space-between;

        &__item {
            height: max-content;
            position: static;
            border-bottom: none;
            padding: 0px 0px 0px 0px;
            align-items: center;

        }

        &__link {
            @include text-style("Montserat", 700, 16px, #8D81AC, 1.12);

            &:hover {
                color: #FFFFFF;
            }

            &:focus,
            &:active {
                border-left: none;
            }
        }

    }
}


.header__title {
    position: relative;
    @include block-display(flex, column, center, center);

    padding: 50px 10px 0px 10px;

    @include media(tablet) {
        padding-top: 70px;
    }

    @include media(desktop) {
        padding-top: 100px;
    }

    &_name {
        @include text-style("Montserat", 700, 48px, #FFFFFF, 1);
        padding-bottom: 10px;

        @include media(tablet) {
            font-size: 9.4vw;
        }

        @include media(desktop) {
            font-size: 82px;
        }
    }

    &_slogan {
        @include text-style("Montserat", 400, 18px, #8D81AC, 1.33);
        padding: 10px 30px 10px 30px;
        text-transform: capitalize;

        @include media(tablet) {
            font-family: Lato;
            font-size: 3.5vw;
            padding-left: 10px;
            padding-right: 10px;
        }

        @include media(desktop) {
            font-size: 30px;
        }
    }

    &_info {
        @include text-style("Montserat", 400, 14px, #848E97, 1);
        text-transform: uppercase;
        padding: 10px 0px 0px 0px;

        @include media(tablet) {
            font-size: 1.82vw;
        }

        @include media(desktop) {
            font-size: 16px;
        }
    }
}

.header__downloads {
    width: 100%;
    position: absolute;
    bottom: -54px;
    @include block-display(flex, column, center, center);

    @include media(tablet) {
        bottom: -68px;
    }
}

.downloads__button {
    background-color: #8D81AC;
    border-radius: 40px;
    border: 2px solid #8D81AC;
    @include block-display(flex, row, space-between, center);

    &:hover {
        background-color: #FFFFFF;
    }

    &_text {
        @include text-style("Montserrat", 700, 18px, #FFFFFF, 1.11);
        padding: 13px 20px;
        text-transform: capitalize;
        min-width: max-content;

        &:hover {
            color: #8D81AC;
        }

        @include media(tablet) {
            font-size: 21px;
            padding: 23px 61px;
        }

    }
}

.downloads__text {
    @include text-style("Montserrat", 400, 14px, #848E97, 1.07);
    padding-top: 12.5px;
    text-transform: capitalize;
    min-width: max-content;

    @include media(tablet) {
        padding-top: 19px;
    }
}
